
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* html {
    font-family: sans-serif;
    font-size: 10px;
} */
.faq-body {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%232c17fd%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%236051fd%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%233b2bfb%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%236c60fc%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%234a3ff9%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23776ffa%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%235954f8%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23827ef9%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%236868f6%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%238d8df8%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23777cf4%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23999cf6%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22g%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23888ef4%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23a5aaf6%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22h%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23999ef6%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23b2b6f8%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22i%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23aaaef8%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23bfc2f9%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22j%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23bbbdf9%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23cccdfa%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22k%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23cdcdfb%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23d9d9fc%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22l%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23deddfd%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23e6e5fd%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22m%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23efedff%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f3f1ff%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%231d03ff%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3Cpath d=%22M0 71c43.674-8.1 87.349-16.199 124-14 36.651 2.199 66.279 14.697 104 19 37.721 4.303 83.535.412 123-2s72.58-3.347 108-2 73.146 4.974 117 2 93.838-12.548 134-12c40.162.548 70.504 11.22 108 13 37.496 1.78 82.147-5.331 122-6 39.853-.669 74.908 5.104 116 7s88.221-.086 126 0c37.779.086 66.208 2.24 105-2s87.946-14.875 130-14 77.006 13.26 115 16 79.03-4.162 116-10 69.877-10.61 108-8c38.123 2.61 81.464 12.603 123 16 41.536 3.397 81.268.199 161-3l-40 929H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 142c44.904-1.008 89.808-2.017 129-4 39.192-1.983 72.673-4.942 110-7s78.502-3.215 115-2c36.498 1.215 68.321 4.8 107 7s84.214 3.012 129 4 88.824 2.15 124 0 61.491-7.614 98-5 83.211 13.306 128 18c44.789 4.694 87.664 3.39 128-3 40.336-6.39 78.131-17.868 118-22 39.869-4.132 81.81-.917 119 3s69.628 8.538 109 12c39.372 3.462 85.677 5.765 123 8 37.323 2.235 65.664 4.403 103 2 37.336-2.403 83.667-9.378 126-12s80.666-.892 119 0 76.667.946 155 1l-40 858H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 214c33.347-2.561 66.694-5.123 108-7 41.306-1.877 90.57-3.07 135 0 44.43 3.07 84.028 10.402 120 11 35.972.598 68.317-5.537 109-8 40.683-2.463 89.702-1.254 127 0s62.875 2.553 100 5 85.796 6.043 128 4c42.204-2.043 77.94-9.726 117-15 39.06-5.274 81.447-8.138 122-3s79.271 18.28 115 24c35.729 5.72 68.467 4.021 109 0s88.86-10.365 127-8 66.096 13.438 103 11c36.904-2.438 82.758-18.385 127-19 44.242-.615 86.873 14.104 124 15 37.127.896 68.75-12.03 106-16 37.25-3.97 80.125 1.015 163 6l-40 786H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 285c44.53-3.41 89.06-6.821 127-4 37.94 2.821 69.292 11.875 106 16s78.774 3.321 118-3 75.614-18.16 116-19c40.386-.84 84.77 9.321 123 14 38.23 4.679 70.307 3.876 109 1s84.004-7.824 126-7c41.996.824 80.678 7.42 121 8 40.322.58 82.283-4.856 118-4 35.717.856 65.19 8.005 103 7 37.81-1.005 83.956-10.162 123-11 39.044-.838 70.984 6.645 110 6 39.016-.645 85.106-9.416 126-11 40.894-1.584 76.59 4.019 116 5 39.41.981 82.533-2.659 121-3 38.467-.341 72.276 2.617 111 4 38.724 1.383 82.362 1.192 166 1l-40 715H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 357c39.957 2.883 79.914 5.765 119 7 39.086 1.235 77.302.821 117 0 39.698-.821 80.878-2.05 123-1 42.122 1.05 85.184 4.381 120 2 34.816-2.381 61.385-10.474 97-12 35.615-1.526 80.275 3.516 123 4 42.725.484 83.514-3.591 127-7 43.486-3.409 89.667-6.152 126-1s62.818 18.199 98 17c35.182-1.199 79.063-16.644 124-20 44.937-3.356 90.932 5.375 129 12s68.21 11.142 103 7c34.79-4.142 74.228-16.944 116-21 41.772-4.056 85.877.635 127 6 41.123 5.365 79.264 11.406 116 10 36.736-1.406 72.067-10.259 111-12 38.933-1.741 81.466 3.63 164 9l-40 643H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 428c38.056 3.548 76.112 7.096 114 10 37.888 2.904 75.607 5.163 114 1s77.461-14.747 121-15c43.539-.253 91.549 9.824 131 12 39.451 2.176 70.343-3.548 105-4 34.657-.452 73.08 4.37 112 7s78.34 3.07 122 0 91.56-9.646 128-13c36.44-3.354 61.419-3.484 100-3s90.764 1.58 136 3c45.236 1.42 83.524 3.16 121 3 37.476-.16 74.141-2.223 111-7 36.859-4.777 73.913-12.269 114-8s83.209 20.299 124 26c40.791 5.701 79.251 1.073 116-6 36.749-7.073 71.785-16.592 110-18 38.215-1.408 79.607 5.296 161 12l-40 572H0Z%22 fill=%22url(%23f)%22%2F%3E%3Cpath d=%22M0 500c36.3-.344 72.602-.689 111-1 38.398-.311 78.894-.59 123 2 44.106 2.59 91.822 8.049 128 12 36.178 3.951 60.817 6.394 97-1s83.91-24.626 125-25c41.09-.374 75.546 16.11 111 23 35.454 6.89 71.908 4.19 117 2 45.092-2.19 98.821-3.867 138-5s63.807-1.722 99-4 80.95-6.244 122-4c41.05 2.244 77.39 10.699 120 11 42.61.301 91.486-7.55 132-8 40.514-.45 72.665 6.504 107 8 34.335 1.496 70.853-2.465 111-4 40.147-1.535 83.924-.644 126-1 42.076-.356 82.45-1.959 121-3s75.275-1.52 152-2l-40 500H0Z%22 fill=%22url(%23g)%22%2F%3E%3Cpath d=%22M0 571c33.715.786 67.43 1.572 109-1 41.57-2.572 90.996-8.501 135-12 44.004-3.499 82.588-4.567 118 1 35.412 5.567 67.653 17.77 103 16 35.347-1.77 73.801-17.512 113-16 39.199 1.512 79.143 20.279 122 20 42.857-.279 88.628-19.603 128-20 39.372-.397 72.346 18.135 108 23 35.654 4.865 73.99-3.936 116-10 42.01-6.064 87.697-9.39 128-8 40.303 1.39 75.222 7.495 113 9 37.778 1.505 78.415-1.59 121-4 42.585-2.41 87.118-4.138 123-5 35.882-.862 63.113-.86 102 4s89.431 14.578 133 14c43.569-.578 80.163-11.45 117-15 36.837-3.55 73.919.225 151 4l-40 429H0Z%22 fill=%22url(%23h)%22%2F%3E%3Cpath d=%22M0 642c41.777-1.508 83.553-3.016 120-4s67.563-1.443 103 1 75.195 7.788 119 8c43.805.212 91.655-4.71 134-8s79.183-4.949 115-4c35.817.949 70.611 4.505 107 5 36.389.495 74.372-2.073 116-4s86.902-3.214 128 3 78.02 19.93 115 17c36.98-2.93 74.02-22.507 116-26 41.98-3.493 88.903 9.097 129 10 40.097.903 73.367-9.88 113-8 39.633 1.88 85.628 16.427 125 18 39.372 1.573 72.12-9.826 107-11 34.88-1.174 71.89 7.876 113 11 41.11 3.124 86.317.321 127-2 40.683-2.321 76.842-4.16 153-6l-40 358H0Z%22 fill=%22url(%23i)%22%2F%3E%3Cpath d=%22M0 714c37.374-3.435 74.748-6.87 113-8 38.252-1.13 77.383.047 120 3 42.617 2.953 88.72 7.682 126 11 37.28 3.318 65.738 5.225 101 0s77.328-17.584 118-20c40.672-2.416 79.951 5.11 118 8 38.049 2.89 74.868 1.145 118 1 43.132-.145 92.575 1.31 132 0s68.83-5.387 109-6c40.17-.613 91.103 2.238 129 8 37.897 5.762 62.759 14.433 99 16 36.241 1.567 83.863-3.972 129-10 45.137-6.028 87.791-12.546 128-12 40.209.546 77.974 8.157 111 8 33.026-.157 61.315-8.08 102-11s93.767-.834 137 2c43.233 2.834 76.616 6.417 150 10l-40 286H0Z%22 fill=%22url(%23j)%22%2F%3E%3Cpath d=%22M0 785c38.274-3.654 76.548-7.309 116-5s80.08 10.58 118 16 73.129 7.99 113 2c39.871-5.99 84.404-20.537 127-22 42.596-1.463 83.255 10.16 123 16 39.745 5.84 78.576 5.897 113 1 34.424-4.897 64.44-14.748 103-17 38.56-2.252 85.663 3.096 129 4 43.337.904 82.91-2.637 124-5s83.7-3.548 119-2 63.29 5.83 100 12 82.138 14.226 122 14c39.862-.226 74.16-8.735 113-9 38.84-.265 82.225 7.712 123 8 40.775.288 78.94-7.115 119-11s82.017-4.253 122-4c39.983.253 77.991 1.126 156 2l-40 215H0Z%22 fill=%22url(%23k)%22%2F%3E%3Cpath d=%22M0 857c36.823 2.398 73.646 4.796 112 6 38.354 1.204 78.24 1.212 120 1 41.76-.212 85.398-.646 125-1 39.602-.354 75.17-.627 111 1s71.92 5.154 113 0 87.15-18.989 125-18c37.85.989 67.483 16.802 107 20 39.517 3.198 88.917-6.218 130-7s73.848 7.069 112 8 81.69-5.057 120-7c38.31-1.943 71.391.158 112-1 40.609-1.158 88.744-5.576 126-5 37.256.576 63.632 6.146 105 5s97.727-9.008 138-10c40.273-.992 64.458 4.887 101 4 36.542-.887 85.44-8.54 128-9 42.56-.46 78.78 6.27 155 13l-40 143H0Z%22 fill=%22url(%23l)%22%2F%3E%3Cpath d=%22M0 928c40.743-4.644 81.486-9.288 121-8 39.514 1.288 77.8 8.51 113 13s67.315 6.252 108 2 89.942-14.517 134-17c44.058-2.483 82.918 2.817 118 7 35.082 4.183 66.386 7.248 107 9 40.614 1.752 90.538 2.192 131-2s71.463-13.016 105-12c33.537 1.016 69.61 11.871 111 14 41.39 2.129 88.1-4.47 128-9 39.9-4.53 72.99-6.994 114-4 41.01 2.994 89.937 11.447 128 12 38.063.553 65.26-6.794 100-7 34.74-.206 77.023 6.728 118 8 40.977 1.272 80.648-3.12 120-4 39.352-.88 78.386 1.748 119 2 40.614.252 82.807-1.874 165-4l-40 72H0Z%22 fill=%22url(%23m)%22%2F%3E%3C%2Fsvg%3E");
 margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    /* width: 100%; */
    /* min-height: 100vh; */
    /* height: 1200px; */
    font-size: 1.6rem;
    line-height: 140%;
    /* background-color: #f3f6f6;
    opacity: 0.3;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #f3f6f6 50px ), repeating-linear-gradient( #56d1b355, #56d1b3 );
     */
    opacity: 1;
    display: grid;
    place-items: center;

    /* background-color: #e5e5f7;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 15px ), repeating-linear-gradient( #282d9455, #282d94 ); */

}
.faq-body .card {
    position: absolute;
    top: -50px;
    left: 380px;
    background: #fff;
    color: #333;
    margin: 15rem auto;
    height: 800px;
    /* width: 90%; */
    max-width: 40rem;
    /* min-height: 30rem; */
    border-radius: 2rem;
}

.faq-body .hero {
    display: flex;
    justify-content: center;
    transform: translateY(-55%);
}
/* .faq-body.hero .img {
    filter: drop-shadow(0rem 1.5rem rgba(0,0,0,0.1));
    transition: 0.3s ease-out;
}
.faq-body .card:hover .img {
    filter: drop-shadow(0rem 2.5rem rgba(0,0,0,0.1));
} */


.faq-body .title {
    text-align: center;
    font-size: 5rem;
    /* padding: 1rem; */
}

/* .faq-body .acc-container {
    /* padding: 4rem 2rem; */
/* } */ 
.faq-body .acc-btn {
    width: 100%;
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s linear;
}
.faq-body .acc-btn:after {
    content: "\27A4";
    color: #fa8d0c;
    float: right;
    transition: all 0.3s linear;
}
.faq-body .acc-btn.is-open:after {
    transform: rotate(90deg);
}
.faq-body .acc-btn:hover, .acc-btn.is-open {
    color: #000;
    font-weight: bold;
}

.faq-body .acc-content {
    max-height: 0;
    color: rgba(0,0,0,0.75);
    font-size: 1.5rem;
    margin: 0 2rem;
    padding-left: 1rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1px solid #ccc;
}

.faq-bod.credit {
    text-align: center;
    padding: 1rem;
}
.faq-body .credit a {
    text-decoration: wavy underline;
    color: dodgerblue;
}
